{% extends 'layout.html' %}

{% block body %}
{{ super() }}
<div class="container">
<div class="row-fluid">

	
	<div class="jumbotron">
  		<h1 class="text-center">The Hawker Delivery Project</h1>
  		<p/>
  		<p class="text-right"><small>Vendor Console - Authentication</small></p>
	</div>
	
      <ul class="list-group">
        <li class="list-group-item"> 
        {% if current_user.is_authenticated %}
        <div class="panel panel-default">
        <p>
            You may now goto the vendor or admin access pages depending on your access rights.
            <a href="{{url_for('vendor_page.index')}}">Vendor Console Access</a>
        </p>
        </div>
        {% else %}
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div>
            {{ f.label }}
            {{ f }}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
            <button class="btn" type="submit">Submit</button>
        </form>
        {{ link | safe }}
        {% endif %}
        </li>
        </ul>
    </div>
    </div>

{% endblock body %}
