<div ng-controller="OrderController as oCtrl">
  <div class="row">
  	<div class="col-md-12" id="orderTableDiv" ng-show="orderData.length">
  		<table class="table table-bordered table-hover">
        <thead>
          <tr><th colspan="3">Your Order</th></tr>
        </thead>
        <tr ng-repeat="item in orderData track by $index">
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td><button type="button" class="btn btn-default" ng-click="removeFromOrder(item)" aria-label="Remove">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{totalCost}}</td>
        </tr>
  		</table>
  	</div>
    <div class="col-md-12" ng-hide="orderData.length">
        <h3 align="center">{{orderEmptyMessage}}</h3><p/>
    </div>
  </div>
  
  <div class="row">
    	<form class="form-horizontal" name="custDetailsForm" ng-submit="custDetailsForm.$valid && submitOrder(orderData)" ng-show="orderData.length" novalidate>
    		<div class="form-group">
    			<label for="customerName" class="col-md-offset-1 col-md-5">Name :</label>
    			<input ng-model="customerName" type="text" required placeholder="Your Name">
    		</div>
    		<div class="form-group">
    			<label for="customerEmail" class="col-md-offset-1 col-md-5">EMail :</label>
    			<input ng-model="customerEmail" type="email" required placeholder="you@gmail.com">
    		</div>
    		<div class="form-group">
    			<label for="customerHP" class="col-md-offset-1 col-md-5">Phone :</label>
    			<input ng-model="customerHP" type="text" ng-pattern="/^[0-9]{1,8}$/" required placeholder="99991111">
    		</div>
    		<button class="btn btn-default col-md-offset-2 col-md-7" ng-disabled="!custDetailsForm.$valid">Confirm Order</button>
    	</form>
  </div>
</div>